{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('page-accueil') }}
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="Chart.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
{% endblock %}


{% block body %}

<div class="d-lg-none pt-5 ">
    <div class="row mx-3">

      <div class="col-lg-12 alert alert-warning   ">
        <h5 class="text-dark">Veuillez utiliser ce site sur un appareil avec un écran plus grand pour un usage optimal</h5>
      </div>

    </div>
  </div>


<section class="container-fluid pt-5 " id="test">
	<div class="row px-5">

		<div class="col-lg-12">
			<h5 class="text-light">Informations générales sur le BAB</h5>
		</div>


		<div class="col-lg-12 background-container-section px-5">

			<div class="row d-flex justify-content-between align-items-cente px-5">

				<div class="col-lg-2 col-md-5 col-sm-12 my-3 pt-1 card {{ couleurPm25 }}">
					<h5>PM 2,5 µm</h5>
					<h2>{{ particulePm25 }}</h2> 
				</div>
				<div class="col-lg-2 col-md-5 col-sm-12 my-3 pt-1 card {{ couleurPm10 }}">
					<h5>PM 10 µm</h5>
					<h2>{{ particulePm10 }}</h2> 
				</div>
				<div class="col-lg-2 col-md-5 col-sm-12 my-3 pt-1 card card-additional-information">
					<h5>Température</h5>
					<h2 id="temperature">No Data</h2>
				</div>
				<div class="col-lg-2 col-md-5 col-sm-12 my-3 pt-1 card card-additional-information">
					<h5>Humidité</h5>
					<h2 id="humidite">No Data</h2>
				</div>

			</div>

		</div>
  </div>
  <div class="d-none d-sm-none d-md-none d-lg-block">
    <div class="row d-flex justify-content-between px-5 pt-3 ">

      <div class="col-lg-12 ">
        <h5 class="text-light">Statistique / graphique</h5>
      </div>
 

      <div class="col-lg-6 col-md-12 my-md-3 background-container-section">
        <h5 class="text-light pl-3">Concentration des particules en µg/m³</h5>
          <div style="width:100%">
            <canvas id="myChart1" width="100%" height="50%"></canvas>
          </div>
      </div>

      <div class="col-lg-5 col-md-12 my-md-3 background-container-section ">
        <h5 class="text-light pl-3">Indice atmo : moyenne journalière des taux de particules</h5>
        <div style="width:100%" class="mt-5">
          <canvas id="myChart2" width="100%" height="50%"></canvas>
        </div>
      </div>    

    </div>
  </div>

  

</section>




    {% set i = 0 %}
    
    <script language="javascript">
        //********** Graphique en ligne **********//
           var ctx = document.getElementById('myChart1').getContext('2d');
           var heure = new Date().getHours()-1;
           var heurePourLeTableau = heure;
           var heures = [];
           //création du tableau des labels 
        for(var i = 0; i <= parseInt(heure); i++){
            heures[i] = -(parseInt(heure)-parseInt(heurePourLeTableau))+'H';
            heurePourLeTableau = parseInt(heurePourLeTableau)+1;
        }
        
            /* ******** POUR DIAGRAMME EN LIGNE PM10 ********** */
            //création des tableaux de releves
            var relevesPm10 = Array();
           var i = 0;
           '{% for rel in relevesPm10 %}'
                '{% for r in rel %}'
                    relevesPm10[i] = '{{r}}';
                    i++;
                '{% endfor %}'
            '{% endfor %}'
            
            var relevesPm25 = Array();
           var i = 0;
           '{% for rel in relevesPm25 %}'
                '{% for r in rel %}'
                    relevesPm25[i] = '{{r}}';
                    i++;
                '{% endfor %}'
            '{% endfor %}'
           


             var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: heures,
                    datasets: [{
                        label: "PM 10",
                        data: relevesPm10, 
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                    },
                    {
                        label: "PM 2.5",
                        data: relevesPm25, 
                        backgroundColor: [
                            'rgba(99, 255, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(99, 255, 132, 1)'
                        ],
                    }]
                },
                options: {
                  scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                    }]
                 }
                }
            });


            //********** Graphique en barre  **********//
           var ctx = document.getElementById('myChart2').getContext('2d');
           
           //création du tableau des labels 
           var particule = ['Pm10','Pm2.5'];
        
            /* ******** POUR DIAGRAMME EN LIGNE PM10 ********** */
            //création des tableaux de releves calcul de l'atmo sur la journée  => cumul sur la journée
            var relevesPm10Atmo = [0];
           
            var nbReleves = 0;
           '{% for rel in relevesPm10 %}'
                '{% for r in rel %}'
                    relevesPm10Atmo[0] += parseInt('{{r}}');
                    nbReleves++;
                '{% endfor %}'
            '{% endfor %}'
            relevesPm10Atmo[0] = relevesPm10Atmo[0]/nbReleves;
            

            var relevesPm25Atmo = [0];
           nbReleves = 0;
           '{% for rel in relevesPm25 %}'
                '{% for r in rel %}'
                    relevesPm25Atmo[0] += parseInt('{{r}}');
                    nbReleves++;
                '{% endfor %}'
            '{% endfor %}'

           
            relevesPm25Atmo[0] = relevesPm25Atmo[0]/nbReleves;
            var couleursBackground = Array(2);
            var couleursBorder = Array(2);
            //couleur de l'indice et indice pm 10
            if(relevesPm10Atmo[0]<27){
              couleursBackground[0] = 'rgba(0, 255, 0, 0.2)';
              couleursBorder[0] = 'rgba(0, 255, 0, 1)';
            }else if(relevesPm10Atmo[0]<49){
              couleursBackground[0] = 'rgba(237, 127, 16, 0.2)';
              couleursBorder[0] = 'rgba(237, 127, 16, 1)';
            }else{
              couleursBackground[0] = 'rgba(255, 0, 0, 0.2)';
              couleursBorder[0] = 'rgba(255, 0, 0, 1)';
            }
            //couleur de l'indice et indice pm 25
            if(relevesPm25Atmo[0]<27){
              couleursBackground[1] = 'rgba(0, 255, 0, 0.2)';
              couleursBorder[1] = 'rgba(0, 255, 0, 1)';
            }else if(relevesPm25Atmo[0]<49){
              couleursBackground[1] = 'rgba(237, 127, 16, 0.2)';
              couleursBorder[1] = 'rgba(237, 127, 16, 1)';
            }else{
              couleursBackground[1] = 'rgba(255, 0, 0, 0.2)';
              couleursBorder[1] = 'rgba(255, 0, 0, 1)';
            }
            var relevesParticules = [relevesPm10Atmo[0],relevesPm25Atmo[0]]

             var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: particule,
                    datasets: [{
                        data: relevesParticules, 
                        backgroundColor: couleursBackground,
                        borderColor: couleursBorder,
                    }]
                },
                options: {
                  legend: { display: false },
                  scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                    }]
                 }
                }
                
            });
            
    </script>
 
{% endblock %}{% block javascripts %}
  {{ encore_entry_script_tags('page-accueil') }}


<script>
  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function () {
       
          //document.getElementById("temperature").innerHTML = this.responseText;
          const parsedJson = JSON.parse(this.responseText);
          document.getElementById("temperature").innerHTML = parsedJson.main.temp+"°C";
          document.getElementById("humidite").innerHTML = parsedJson.main.humidity+"%";       
  };
  xhttp.open("GET", "https://api.openweathermap.org/data/2.5/weather?q=bayonne&appid=c21a75b667d6f7abb81f118dcf8d4611&units=metric", true);
  xhttp.send();
 
</script>



  
{% endblock %}


    
    
 