{% extends 'base.html.twig' %}

        {% block stylesheets %}  
            {{ encore_entry_link_tags('page-gestion-capteurs') }}
         {% endblock %}


{% block body %}

   <section class="navbar-grid-connected ">
      <div class="navbar nav-secondary-background navbar">
        

        <div class="navitem-accueil ">
          <a href="/">
               <button class="btn">
              <h4>Accueil</h4>
             </button>
        </a>
        </div>
        
        <div class="navitem-graphique ">
          <a href="/graphique">
            <button class="btn">
                <h4>Graphique</h4>
            </button>
          </a>
        </div>
        
        <div class="navitem-gestion-capteurs active">
          <a href="#">
            <button class="btn">
                <h4>Gestion capteurs</h4>
            </button>
          </a href="">
        </div>
        
        <div class="navitem-admin">
          <a href="">
            <button class="btn">
                <h4>Admin</h4>
            </button>
          </a href="">
        </div>

      </div>
</section>
 
<section class="main-content-grid-gestion-capteurs">
  <div class="liste-capteurs background-container-section">
    <h1 class="text-secondary-color text-ligh">Liste des capteurs</h1>
    <div class="list">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Nom du capteur</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      {% for capteur in 0..30 %}
      <tr>
        <td> {{ capteur }}</td>
        <td> Un nom de capteur </td>
        <td> 43.477150 </td>
        <td> -1.508095 </td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>

  <div class="zone-action-{{valueZoneAction}} background-container-section">
    <h4 class="text-secondary-color text-ligh label-text">Ajouter, modifier ou supprimer un capteur</h4>
    <div class="form">
    {{form_start(form)}}
      <label class="form-text">Nom du capteur :</label>
      <span>{{form_widget(form.nomDuCapteur)}}</span>
    {{form_end(form)}}
    </div>
  </div>


</section>



{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-gestion-capteurs') }}
{% endblock %}