{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('page-gestion-capteurs') }}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}


{% block body %}

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="background-container-section px-4 overflow-table">
          <h5>Liste des capteurs</h5>
        <table class="table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du capteur</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
          {% set i = 1 %}
          {% for capteur in capteurs %}
            <tr>
          {#<a href="{{ path('capteurs_pollution_gestionCapteur') }}/modifierOuSupprimer/{{nomCapteur }}">#}
              <td> {{ i }}</td>
              <td> {{capteur.nom}}</td>
              <td> {{capteur.latitude}} </td>
              <td> {{capteur.longitude}} </td>
          {#</a>#}
            </tr>
            {% set i = i + 1 %}
          {% endfor %}
        </table>
        </div>
    </div>
 

    <div class="col-lg-6 col-md-12">
      <div class="background-container-section px-4">
        
          {% block titreSection %}

            <h4 class="text-secondary-color text-ligh label-text">Ajouter, modifier ou supprimer un capteur</h4>

          {% endblock %}


          <div class="form">
            {% block form %}


            {{form_start(form)}}

            <div class="row mt-3">

            <div class="col-lg-4 col-md-12 pr-5">
              <label class="form-text ">Nom du capteur :</label>
            </div> 

            <div class="col-lg-8 col-md-12">
              <span>{{form_widget(form.nomDuCapteur, {'attr': {'class': 'form-control-sm'}})}}</span>
            </div>

            </div>
            <div class="d-flex justify-content-end mt-3">
                 <div class="p-1"><button type="submit" class="btn button-custom">Valider</button></div>
            </div>

            {{form_end(form)}}
            {% endblock %}
          </div>
        </div>



  </div>
</div>

{% if actionRealisee != "noAction" %}

<div class="toast border border-success rounded alert alert-success p-4 " id="toastInformation" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000" style="position: absolute; bottom: 1rem; right: 1rem;"  >
  <button type="button" class="ml-2  close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
  <div class="toast-header">

    <h4><strong class="mr-auto">Information</strong></h4>
    
  </div>
  <div class="toast-body">
    Votre capteur a bien été {{actionRealisee}} !
 </div>
</div>
 
<script>

$(document).ready(function(){
    $("#toastInformation").toast('show');
});

{% endif %}





</script>
 
 
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('page-gestion-capteurs') }}{% endblock %}
