{% extends 'base.html.twig' %}

        {% block stylesheets %}  
            {{ encore_entry_link_tags('page-graphique') }}
            <script src="Chart.js"></script>
         {% endblock %}


{% block body %}

 
<div class="container-fluid ">
  <div class="row mt-5 mx-5">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="container-fluid background-container-section overflow-filtre px-4 ">
        {{form_start(selectionFiltres)}}

            <div class="col-lg-12 background-subcontainer-section px-4">
                {{form_widget(selectionFiltres.titre)}}
            </div>

            <div class="col-lg-12 mt-4 background-subcontainer-section px-4">
            <div>
                {{form_widget(selectionFiltres.dateDebut)}}
            </div> 
            <div class="mt-2">
                {{form_widget(selectionFiltres.dateFin)}}
            </div>
            </div>

            <div class="col-lg-12 mt-4 background-subcontainer-section px-4">
             {{form_widget(selectionFiltres.typeParticule)}}
            </div>

            <div class="col-lg-12 mt-4 background-subcontainer-section px-4">
             {{form_widget(selectionFiltres.capteurs)}}
            </div>

            <div class="col-lg-12 my-4 background-subcontainer-section px-4">
             {{form_widget(selectionFiltres.typeGraphique)}}
            </div>
           
        </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12 pl-5">
        <div class="row background-container-section px-4 overflow-filtre">
            
            <div class="col-lg-12 ">
                <div class="d-flex justify-content-end pr-5">
    <div style="width:300%">
        <canvas id="myChart" width="100%" height="50%"></canvas>
    </div>

    {% set i = 0 %}
    
    <script language="javascript">
        
        //instanciation  de l'élément graphique
           var ctx = document.getElementById('myChart').getContext('2d');
        
        
        
        // GESTION GRAPHIQUE LIGNE ET BARRE 
        
        if('{{typeGraphique}}' == "line" || '{{typeGraphique}}' == "bar" || '{{typeGraphique}}' == "radar"){
            var heure = new Date().getHours();
           var heurePourLeTableau = heure;
           var heures = [];
           var nbJours =  parseInt('{{dateFin}}')-parseInt('{{dateDebut}}');
           var indice = '{{dateDebut}}';
           //pour ajouter un 0 aux mois de janvier à septembre
           if (indice.length <= 3){
               indice = '0' + indice;
           }
           
           //création du tableau des labels 
            for(var i = 0; i <= parseInt(heure)+(24*nbJours); i++){
                if(-(parseInt(heure)-parseInt(heurePourLeTableau)) == 24){
                    heurePourLeTableau = heure;
                    indice ++ ;
                    //pour remettre indice en string et pouvoir utiliser les fonction dela classe string
                    indice = indice.toString();
                    if (indice.length <= 3){
                        indice = '0' + indice;
                    }
            }

            heures[i] = -(parseInt(heure)-parseInt(heurePourLeTableau))+'H le '+indice.substring(0,2)+'/'+indice.substring(2,4);
            heurePourLeTableau = parseInt(heurePourLeTableau)+1;
            }
        
           
            //création des tableaux de releves et de couleur de fond
                var relevesPm10 = Array();
                var backgroundPm10 = Array();
                var borderPm10 = Array();
                var i = 0;
                '{% for rel in relevesPm10 %}'
                    '{% for r in rel %}'
                        relevesPm10[i] = '{{r}}';
                        backgroundPm10[i] = 'rgba(255, 99, 132, 0.2)';
                        borderPm10[i] = 'rgba(255, 99, 132, 1)';
                        i++;
                    '{% endfor %}'
                '{% endfor %}'

                var relevesPm25 = Array();
                var backgroundPm25 = Array();
                var borderPm25 = Array();
                var i = 0;
                '{% for rel in relevesPm25 %}'
                    '{% for r in rel %}'
                        relevesPm25[i] = '{{r}}';
                        backgroundPm25[i] = 'rgba(99, 255, 132, 0.2)';
                        borderPm25[i] = 'rgba(99, 255, 132, 0.2)';
                        i++;
                    '{% endfor %}'
                '{% endfor %}'
            
          
            

            if(relevesPm10 != ""  && relevesPm25 != ""){
             var myChart = new Chart(ctx, {
                type: '{{ typeGraphique }}',
                data: {
                    labels: heures,
                    datasets: [{
                        label: "PM 10",
                        data: relevesPm10, 
                        backgroundColor: backgroundPm10,
                        borderColor: borderPm10,
                    },
                    {
                        label: "PM 2.5",
                        data: relevesPm25, 
                        backgroundColor: backgroundPm25,
                        borderColor: borderPm25,
                    }]
                },
                options: {
                }
                });
            }
            else if(relevesPm10 == "" ){
                var myChart = new Chart(ctx, {
                type: '{{ typeGraphique }}',
                data: {
                    labels: heures,
                    datasets: [
                    {
                        label: "PM 2.5",
                        data: relevesPm25, 
                        backgroundColor: backgroundPm25,
                        borderColor: borderPm25,
                    }]
                },
                options: {
                }
                });
            }
            else{
                var myChart = new Chart(ctx, {
                type: '{{ typeGraphique }}',
                data: {
                    labels: heures,
                    datasets: [
                    {
                        label: "PM 10",
                        data: relevesPm10, 
                        backgroundColor: backgroundPm10,
                        borderColor: borderPm10,
                    }]
                },
                options: {
                }
                });
            }
    }
    else if('{{typeGraphique}}' == "radar"){

    }
           
    </script>
   
                </div>
            </div>
            
            <div class="col-lg-12 mt-5">
                <div class="d-flex justify-content-end">
                    <div class="">
                        {{ form_widget(selectionFiltres.Modifier, {'attr': {'class': 'button-custom'}}) }}
                    </div>    
                    <div class="ml-3">
                        {{ form_widget(selectionFiltres.Exporter, {'attr': {'class': 'button-custom'}}) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
      {{form_end(selectionFiltres)}} 

{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('page-graphique') }}
{% endblock %}