{% extends 'capteurs_pollution/gestion-capteurs.html.twig' %}

{% block titreSection %}

	<h4 class="text-secondary-color text-ligh label-text">Modifier ou supprimer un capteur</h4>

{% endblock %}

{% block form %}

	<p>Nom du capteur :
		{{ capteur.nom }}</p>
	<p>Latitude :
		{{ capteur.latitude }}</p>
	<p>Longitude :
		{{ capteur.longitude }}</p>


	<div class="d-flex justify-content-end">
		<div class="p-2">
			<a href="{{ path('capteurs_pollution_gestionCapteur') }}">
				<button type="button" class="btn button-custom">Annuler</button>
			</a>
		</div>
		<div class="p-2">
			{% set urlPourModifier = capteur.nom%} 
			<a href="{{ path('modifierCapteur', { 'nomCapteur': urlPourModifier }) }}">
				<button type="button" class="btn button-custom">Modifier</button>
			</a>
		</div>
		<div class="p-2">
			<a href="{{ path('supprimerrCapteur', { 'nomCapteur': urlPourModifier }) }}">
				<button type="button" class="btn button-custom">Supprimer</button>
			</a>
		</div>
	</div>


{% endblock %}
